<ion-header>
  <ion-toolbar color="primary">
    <ion-title *ngIf="isLogin">{{ 'login'| translate}}</ion-title>
    <ion-title *ngIf="!isLogin">{{ 'signup'  | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-list>
            <ion-item>
              <ion-label position="floating">{{'phone' | translate}}</ion-label>
              <ion-input
                
                ngModel
                name="email"
                required
                
                #emailCtrl="ngModel"
              ></ion-input>
            </ion-item>
            <ion-item
              *ngIf="!emailCtrl.valid && emailCtrl.touched"
              lines="none"
            >
              <ion-label>
                {{'phone_message' | translate }}
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label position="floating">{{'password' | translate}}</ion-label>
              <ion-input
                type="password"
                ngModel
                name="password"
                required
               
                #passwordCtrl="ngModel"
              ></ion-input>
            </ion-item>
            <ion-item
              *ngIf="!passwordCtrl.valid && passwordCtrl.touched"
              lines="none"
            >
              <ion-label>
                {{'password_message' | translate}}
              </ion-label>
            </ion-item>

            <div *ngIf="!isLogin">
              <ion-item>
                <ion-label position="floating">{{'name' | translate}}</ion-label>
              <ion-input
                
                ngModel
                name="username"
                required
                
                #nameCtrl="ngModel"
              ></ion-input>
              </ion-item>
              <ion-item
              *ngIf="!nameCtrl.valid && nameCtrl.touched"
              lines="none"
            >
              <ion-label>
                {{'name_message' | translate}}
              </ion-label>
            </ion-item>

              <ion-item>
                <ion-label position="floating">{{'email' | translate}}</ion-label>
              <ion-input
                
                ngModel
                name="email2"
                required
                email
                #email2Ctrl="ngModel"
              ></ion-input>
              </ion-item>
              <ion-item
              *ngIf="!email2Ctrl.valid && email2Ctrl.touched"
              lines="none"
            >
              <ion-label>
                {{'email_message' | translate}}
              </ion-label>
            </ion-item>



            </div>

          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button
            type="button"
            color="primary"
            fill="clear"
            expand="block"
            (click)="onSwitchAuthMode()"
          >
            {{ 'switch_to' | translate }}
            <span *ngIf='isLogin'>{{'signup' | translate }}</span>
             <span *ngIf="!isLogin">{{'login' | translate }}</span>
          </ion-button>
          <ion-button
            type="submit"
            color="primary"
            expand="block"
            [disabled]="!f.valid"
          >
          <span *ngIf='!isLogin'>{{'signup' | translate }}</span>
          <span *ngIf="isLogin">{{'login' | translate }}</span>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <!-- <div class="ion-text-center">
    <ion-spinner color="primary" *ngIf="isLoading"></ion-spinner>
  </div> -->
</ion-content>