<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="isLoading" class="ion-text-center">
    <ion-spinner color="primary"></ion-spinner>
  </div>

  <div id="container"  *ngIf="!isLoading && services.length > 0">
    <ion-list>
        <ion-item *ngFor="let entry of services">
            <ion-label>
              <span *ngIf = "ar; else en">{{entry.artitle}}</span> 
              <ng-template #en>
                <span>{{entry.title}}</span>
              </ng-template>      
              
              - {{entry.price}} OMR
            </ion-label>
            <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
        </ion-item>

        <ion-button class="ion-padding ion-center" expand="block" (click)="checkout()" routerLink="/checkout">checkout</ion-button>
    </ion-list>
  </div>
  <div *ngIf="!isLoading && services.length == 0"> 
   {{'no_service' | translate }}
</div>
</ion-content>
