<h5 class="ion-padding">{{ 'TITLES.services' | translate }}</h5>

<ion-grid class="ion-no-padding">
  <ion-row class="ion-no-padding" *ngIf="!isLoading && mainCat.length > 0">
    <ion-col *ngFor="let service of mainCat"
      class="animate-item" size="6"
      class="ion-no-padding"
      routerLink="/categories/{{service.id}}">
      <ion-card style="text-align: center; margin: 5px; padding: 20px 0px">
        <ion-avatar style="text-align: center; margin: 0 auto;">
          <img src="{{service.imageUrl}}" />
        </ion-avatar>
        <ion-text>
          <h6 *ngIf="ar; else en">{{service.artitle}}</h6>
          <ng-template #en>
            <h6>{{service.title}}</h6>
          </ng-template>            
        </ion-text>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="isLoading" class="ion-text-center">
    <ion-spinner color="primary"></ion-spinner>
  </ion-row>
  <ion-row *ngIf="!isLoading && mainCat.length == 0"> 
    {{'no_categories' | translate }}
  </ion-row>

</ion-grid>